backend/node_modules/
frontend/node_modules/ 
.DS_Store
backend/.env
frontend/.env
backend/build/
frontend/build/
frontend/dist/
npm-debug.log
yarn-error.log
backend/package-lock.json
frontend/package-lock.json
backend/service-account-key.json
.vscode/
.idea/
*.log
*.tsbuildinfo
coverage/
node_modules
frontend/.next/
backend/.next/
backend/build/
backend/dist/